<div class="text-center banner" >
    <img alt="BBVA Francés" src="/img/d.png" height="200"/>
</div>
<p>&nbsp;</p>
<div class="col-md-12">
  <form action='/extraccion' method='post' class="row form">
    <div class="col-sm-offset-2 col-sm-8 form-group">
      <button type="submit" class="btn btn-xlarge btn-success btn-square bloqueador" data-disable-with="Extrayendo...">Retirar</button>
    </div>
  </form>
</div>
