
<div class="col-md-12" style="margin-top: 50px;">
    <div class="row">
          <div class="col-md-2">
          </div>
          <div class="col-md-8">
            <p class="lead text-center">
              En esta terminal podrás retirar tus tarjetas de crédito y
              débito ingresando tu número de documento y la clave que te enviamos por SMS.
            </p>
            <div class="text-center">
              <p><a class="btn btn-xlarge btn-success btn-square" href="/dni" role="button">Empezar</a></p>            
            </div>
          </div>
          <div class="col-md-2">
          </div>
    </div>
</div>


